<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>iOSで開いた時に、URLスキームが存在すればアプリを開く、存在しなければAppStoreを開く</title>

  <script type="text/javascript">
    $(function(){
      var userAgent = navigator.userAgent.toLowerCase();
      if (userAgent.search(/iphone|ipad|ipod/) > -1) {
        // Launch myapp via URL scheme
        launch_frame.location.href= "twitter://";

        setTimeout(function(){
          // Open App DL page in iTunes Store
          location.href= "itmss://itunes.apple.com/us/app/twitter/id99999999?ls=1&mt=8";
        } , 500);
      }
    });
  </script>
</head> 
<body>
  <div style="width:0; height:0; overflow:hidden;">
  <iframe id="launch_frame" name="launch_frame">
  </iframe>
  </div>
</body> 
</html>