<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
  <title><%= name %></title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
  <style type="text/css">
  <!--
  body { margin: 0;padding: 0; }
  .title {
    font-size: 18px;
    margin: 0;
  }
  h1 {
    position: relative;
    padding: 1em 0;
    padding: 10px;
  }
  h1::before, h1::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 6px;
    box-sizing: border-box;
  }
  h1::before {
    top: 0;
    border-top: 2px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  h1::after {
    bottom: 0;
    border-top: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
  }
  .recipe {
    padding: 10px;
  }
  .figure {
    width: 100%;
    height: 250px;
    position: relative;
  }
  .figure .figure-image {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  --> 
  </style>
</head>
<body>
  <header>
    <h1 class="title"><%= name %></h1>
    <% if image.size != 0 %>
      <div class="figure">
        <div class="figure-image" style="background-image:url(<%= image %>)"></div>
      </div>
    <% end %>
  </header>
  <div id="contents">
    <article class="recipe">
      <p><%= explanation %></p>
    </article>
  </div>
</body>
</html>